<!DOCTYPE html>
<html>
<head>
    <meta content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=0.3,maximum-scale=1.5,user-scalable=yes"/>
</head>
<body>
<h2>列表</h2>

 <div >
     <ol>
         <li  th:each="question:${questions}">
         	<!-- /question/{id} -->
              id:<a th:href="@{/question/}+${question.id}"><span th:text="${question.id}" ></span></a>
              question:<span th:text="${question.question}"></span>
             <!--  <span th:text="${question.age}"></span>
             <span th:text="${question.address}"></span> -->
         </li>
     </ol>
   </div> 
</body>
</html>