<!DOCTYPE html>
<html>
<head>
    <meta content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
</head>
<body>
<h2>列表</h2>
hello world!
 <div >
     <ul>
         <li  th:each="question:${questions}">
              id:<span th:text="${question.id}"></span>
              question:<span th:text="${question.question}"></span>
             <!--  <span th:text="${question.age}"></span>
             <span th:text="${question.address}"></span> -->
         </li>
     </ul>
   </div> 
</body>
</html>